web/lab6/marvel-schema-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="movieIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="m\d+"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="keywordsListType">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="extendedInfoType">
    <xs:sequence>
      <xs:element name="name" type="nonEmptyString"/>
      <xs:element name="year" type="xs:gYear"/>
      <xs:element name="duration" type="xs:positiveInteger"/>
      <xs:element name="budget" type="xs:positiveInteger"/>
      <xs:element name="keywords" type="keywordsListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actorType">
    <xs:sequence>
      <xs:element name="name" type="nonEmptyString"/>
      <xs:element name="age" type="xs:positiveInteger"/>
    </xs:sequence>
    <xs:attribute name="role" type="nonEmptyString" use="required"/>
  </xs:complexType>

  <xs:complexType name="extensibleMovieType">
    <xs:sequence>
      <xs:element name="info" type="extendedInfoType"/>
      <xs:element name="actor" type="actorType" maxOccurs="unbounded"/>
      <xs:any minOccurs="0" processContents="lax"/>
    </xs:sequence>
    <xs:attribute name="id" type="movieIDType" use="required"/>
  </xs:complexType>

  <xs:element name="marvel-movies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="movie" type="extensibleMovieType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="founded" type="xs:gYear" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>